.App {
  background-color:#001321;
  padding-bottom: 2rem;
}

header {
  border-bottom: 1px solid #6a6a6a78;
}

.connect-btn {
  border: 2px solid #ffc112e6;
  color: #ffc112e6;
}

.features {
  position: relative;
  width: 1180px;
  z-index: 1;
  border: 1.5rem solid #23304e;
  border-radius: 40px;
}

@media (max-width: 1180px) {
  .features {
    width: 95%;
  }
}

.features-header {
  border-top: 1px solid #23304e;
  border-bottom: 1px solid #23304e;

  .top-bar-nav {
    li {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 15px;
      border-left: 1px solid #23304e;

      a {
        text-decoration: none;
        color: #ffc112e6;
      }
    }
  }
}

.widget {
  background-color: #14192c;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.widget-title {
  font-size: 14px;
}

.price-up {
  color: #8cb58c;
}

.price-down {
  color: #f36c6c;
}

.wallet-address {
  text-overflow: ellipsis;
  overflow: hidden;
}

iframe {
  display: none;
}

.selected-option {
  background-color: #e6a41c;
}

.border-right {
  border-right: 1px solid #23304e;
}